<div class="header">
  <div class="header__logo">
    <div class="header__logo__image">
      <img src="../../assets/creame-of-the-crepe.png">
    </div>
  </div>
<!--  <div class="header__img">-->
<!--    <img src="./assets/img/cream-crepe-bg-1-alt.jpg">-->
<!--  </div>-->
  <div class="content--container header__nav">
    <div class="header__nav__spacer"></div>
    <ul class="header__nav-list">
      <!--<a *ngFor="let routeItem of routeItems" [routerLink]="[routeItem.routerLink]"-->
      <!--routerLinkActive="router-active">-->
      <!--{{routeItem.page}}-->
      <!--</a>-->
      <li class="header__nav-list__item">
        <a [routerLink]="['/menu']"
           routerLinkActive="router-active">
          Menu
        </a>
      </li>
      <li class="header__nav-list__item">
        <a [routerLink]="['/about-us']" routerLinkActive="router-active">
          About Us
        </a>
      </li>
      <li class="header__nav-list__item">
        <a [routerLink]="['/contact']" routerLinkActive="router-active">
          Contact
        </a>
      </li>
      <!--      <ul (click)="toggleAccountMenu()"-->
      <!--          class="account-menu"-->
      <!--          qssDropdown-->
      <!--          routerLinkActive="router-active"-->
      <!--          [ngClass]="{'closed' : isAccountMenu}">-->
      <!--        <li class="account-menu__items">-->
      <!--          <ul>-->
      <!--            <li>-->
      <!--              <a [routerLink]="['/hub']">-->
      <!--                Profile-->
      <!--              </a>-->
      <!--            </li>-->
      <!--          </ul>-->
      <!--        </li>-->
      <!--      </ul>-->


    </ul>
    <div class="mobile-menu-hide header__nav__menu" (click)="menuOn()">
      <mat-icon svgIcon="menu-burger--s" class="burger-icon"></mat-icon>
    </div>
  </div>

  <div class="header__info">
    <div class="header__info__block">
      <h5>Location</h5>
      <div class="header__info__block__details">
        <div>
          8 South Northwest Highway
        </div>
        <div>
          Park Ridge, IL 60068
        </div>
        <div>
          847.720.4246
        </div>
      </div>
    </div>
    <div class="header__info__block">
      <h5>Hours</h5>
      <div class="header__info__block__details">
        <div>
          MON - THURS 9AM - 8PM
        </div>
        <div>
          FRI & SAT 9AM - 9PM
        </div>
        <div>
          SUN 9AM - 4PM
        </div>
      </div>
    </div>

    <div class="header__info__block">
      <h5>Connect</h5>
      <div class="header__info__block__details">
        <div>
          GitHub
          Facebook
          Yelp
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isNavMenu"
       @animateState
       class="mobile-menu">
    <!--<div [@listState]="routeItems?.length">-->
    <div @listState>

      <!--<a *ngFor="let routeItem of routeItems; let i = index"-->
      <!--[routerLink]="[routeItem.routerLink]"-->
      <!--(click)="menuOff()"-->
      <!--routerLinkActive="router-active">-->
      <!--{{routeItem.page}}-->
      <!--</a>-->


      <a [routerLink]="['/menu']"
         (click)="menuOff()"
         routerLinkActive="router-active">
        Menu
      </a>
      <a [routerLink]="['/order']"
         (click)="menuOff()"
         routerLinkActive="router-active">
        Order
      </a>
      <a [routerLink]="['/about-us']"
         (click)="menuOff()"
         routerLinkActive="router-active">
        About Us
      </a>
    </div>
  </div>
</div>
