<div class="footer">
  <div class="footer__group">
    <div class="footer__group__list">
      <mat-icon svgIcon="qss-mark" class="qss-logo"></mat-icon>
    </div>
    <div class="footer__group__list">
      <h4>
        Latest News & Event
      </h4>
      <ul>
        <li class="footer__group__list-item">
          <a>
            Taste of Park Ridge 2023
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__group__list">
      <h4>
        We Cater!
      </h4>
      <ul>
        <li>

          Call us or stop by our location to arrange catering or your next event!
          <br>
          <br>
          8 South Northwest Highway
          <br>
          Park Ridge, IL 60068
          <br>
          847.720.4246
        </li>

      </ul>
    </div>
    <div class="footer__group__list">
      <h4>
        Order Online
      </h4>
      <ul>
        <li>
          We now offer online ordering through these preferred vendors. Please choose one to place your order for pick-up or delivery.
        </li>

        <div class="footer__group__list__container">
          <div class="footer__group__list__container__img">
            <img src="../../assets/img/yelp.jpg">
          </div>
          <div class="footer__group__list__container__img">
            <img src="../../assets/img/grubhub.jpg">
          </div>
        </div>

        <!--<li class="footer__group__list-item">-->
          <!--<a [routerLink]="['/home']">-->
            <!--Contact Us-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="footer__group__list-item">-->
          <!--<a href="https://www.facebook.com/QueenStreetSurgery/">-->
            <!--Facebook Page-->
          <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>


