<div class="footer">
  <div class="footer__group">
    <div class="footer__group__list">
    </div>
    <div class="footer__group__list">
      <h4>
        Latest News & Event
      </h4>
      <ul>
        <li class="footer__group__list-item">
          <a>
            Taste of Park Ridge 2023
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__group__list">
      <h4>
        We Cater!
      </h4>
      <ul>
        <li>

          Call us or stop by our location to arrange catering or your next event!
          <br>
          <br>
          8 South Northwest Highway
          <br>
          Park Ridge, IL 60068
          <br>
          847.720.4246
        </li>

      </ul>
    </div>
    <div class="footer__group__list">
      <h4>
        Order Online
      </h4>
      <ul>
        <li>
          We now offer online ordering through these preferred vendors. Please choose one to place your order for pick-up or delivery.
        </li>
      </ul>
    </div>
  </div>
</div>


