<div *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="!showSpinner" style="background-color: white; padding: 20px;">
    <!-- back button -->
    <app-back-button></app-back-button>

    <h2>{{menuCategoryData.category}}</h2>
    <div style="width: 250px;">
        <img style="width: 100%;" [src]="menuCategoryData.categoryImage">
    </div>

    <div>
        <button (click)="openCreateCategoryItemDialog()" color="primary" mat-button mat-raised-button>Create Category Item</button>
    </div>
    <div *ngIf="!menuCategoryData.items">
        <h3>There are no Items yet</h3>
    </div>

    <div *ngIf="menuCategoryData.items">

        <mat-slide-toggle [(ngModel)]="isDraggable">Rearrange</mat-slide-toggle>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <!-- Use let i of index to directly access the index -->
            <div *ngFor="let menuCategoryItemData of menuCategoryData.items; let i = index"
                 [ngClass]="{'no-move-cursor': !isDraggable}" cdkDrag
                class="example-box example-list__item" [cdkDragDisabled]="!isDraggable">
              <div class="example-list__item__content">
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                <div class="example-list__item__content__title">{{menuCategoryItemData.title}}</div>
                <div class="example-list__item__content">{{menuCategoryItemData.description}}</div>
                <div>{{menuCategoryItemData.price}}</div>
              </div>

                <!-- Use i as the index -->
                <button [disabled]="isDraggable" mat-button mat-stroked-button color="primary" (click)="openEditCategoryItemDialog(menuCategoryItemData, i)">Edit</button>
            </div>
        </div>

        <div *ngIf="wasRearranged">
            <button mat-button mat-raised-button (click)="saveRearrangedCategories()">Save</button>
        </div>

    </div>   

</div>
