<div *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="!showSpinner" style="background-color: white; padding: 20px;">
    <h2>{{menuCategoryData.category}}</h2>
    <div style="width: 250px;">
        <img style="width: 100%;" [src]="menuCategoryData.categoryImage">
    </div>

    <div>
        <button (click)="openCreateCategoryItemDialog()">Create Category Item</button>
    </div>
    <div *ngIf="!menuCategoryData.items">
        <h3>There are no Items yet</h3>
    </div>

    <div *ngIf="menuCategoryData.items">

        <mat-slide-toggle [(ngModel)]="isDraggable">Rearrange</mat-slide-toggle>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            @for (menuCategoryItemData of menuCategoryData.items; track menuCategoryData) {
            <div class="example-box" [ngClass]="{'no-move-cursor': !isDraggable}" cdkDrag
                [cdkDragDisabled]="!isDraggable">
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                <div>{{menuCategoryItemData.title}}</div>
                <div>{{menuCategoryItemData.description}}</div>
                <div>{{menuCategoryItemData.price}}</div>
            </div>
            }
        </div>

        <div *ngIf="wasRearranged">
            <button (click)="saveRearrangedCategories()">Save</button>
        </div>

    </div>

</div>