<div class="contact-wrapper">
  <div class="contact__map">
    <h2>Location</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d185.28204942352642!2d-87.82910486003387!3d42.01073064073288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fc9b12382ded7%3A0x49d2581767895add!2sCream%20of%20the%20Crepe!5e0!3m2!1sen!2sza!4v1713787494653!5m2!1sen!2sza"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <div class="contact-wrapper__info">
      <a color="primary" mat-button mat-raised-button href="https://www.google.com/maps/dir/Current+Location/42.0107306,-87.8291049" target="_blank">
        Get Directions
      </a>
    </div>
  </div>
  <div class="contact__form">
    <app-form></app-form>
  </div>

</div>
