
.contact-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #4f3a36;
  padding: 52px;

  iframe {
    border-radius: 22px;
  }

  .contact-wrapper__info {
    padding: 42px;
  }
}
