
.contact-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #4f3a36;
  padding: 52px;

  .contact__map {
    background-color: white;
    padding: 32px;
    border-radius: 24px 0 0 0;

    iframe {
      border-radius: 22px;
    }

    .contact-wrapper__info {
      padding: 42px;
    }
  }

  .contact__form {
    background-color: white;
  }

}


@media screen and (max-width: 960px) {

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

