<div class="menu-wrapper">
  <div class="menu__section">
    <div class="menu__header">
      <h1>Menu</h1>
    </div>
    <div class="menu__section__content">
      <div class="menu__content__block menu__content__block--savoury">
        <h2>
          Savory
        </h2>
        <div>
          Add an egg to any menu item $.75
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item.png">
          </div>
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item.png">
          </div>
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item.png">
          </div>
        </div>
        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item.png">
          </div>
        </div>

      </div>
      <div class="menu__content__block menu__content__block--sweet">
        <h2>
          Sweet
        </h2>
        <div>
          Add one scoop of ice cream for $x.x
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item-sweet.png">
          </div>
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item-sweet.png">
          </div>
        </div>

        <div class="menu__content__item">
          <div class="menu__section__item__heading">
            <div class="menu__section__item__heading__title">
              Rise and Shine
            </div>
            <div class="menu__section__item__heading__price">
              12.95
            </div>
          </div>
          <div class="menu__content__item__description">
            Eggs, turkey bacon & your choice of cheese (mozzarella, swiss or cheddat)
          </div>
          <div class="menu__content__item__image">
            <img src="../../assets/img/food-item-sweet.png">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
