<form >

  <div class="form-container">
    <p class="instructional-text">
      Please fill in your information below. All required fields are marked with *
    </p>

    <div class="form-title">
      <h2>Message Us</h2>
    </div>
    <div class="message-form">
      <div class="left-section">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input required
                 matInput
                 formControlName="name"
                 id="name">
          <mat-error>
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input required
                 matInput
                 formControlName="surname">
          <mat-error>
            Surname is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input required
                 matInput
                 email
                 formControlName="email"
                 id="email">
          <mat-error >
            Valid email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Phone Number
          </mat-label>
          <input placeholder="(Optional)"
                 matInput
                 formControlName="phone"
                 id="phone">
        </mat-form-field>
      </div>
      <div class="right-section">
        <div class="form-field message-area">
          <mat-form-field appearance="outline" class="field-full-height">
            <mat-label>Leave your message</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="24"
                      id="message"
                      placeholder="Message"
                      formControlName="patientMessage">
          </textarea>
            <mat-error >
              A message is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--<div class="action-buttons">-->
      <!--<button class="qss-button&#45;&#45;green"-->
              <!--type="submit"-->
              <!--[@buttonState]="queenForm.valid ? 'valid' : 'invalid'"-->
              <!--[disabled]="!queenForm.valid">-->
        <!--Submit-->
      <!--</button>-->
    <!--</div>-->
  </div>
</form>

