<form [formGroup]="contactForm">

  <div class="form-container">
    <p class="instructional-text">
      Please fill in your information below. All required fields are marked with *
    </p>

    <div class="form-title">
      <h2>Message Us</h2>
    </div>
    <div class="message-form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input required
                 matInput
                 formControlName="name"
                 id="name">
          <mat-error>
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input required
                 matInput
                 email
                 formControlName="email"
                 id="email">
          <mat-error >
            Valid email is required
          </mat-error>
        </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput
               placeholder="Optional"
               formControlName="phone"
               id="name">
      </mat-form-field>


      <mat-form-field appearance="outline" class="field-full-height">
            <mat-label>Leave your message</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="24"
                      id="message"
                      placeholder="Message"
                      formControlName="message">
          </textarea>
            <mat-error >
              A message is required
            </mat-error>
          </mat-form-field>
    </div>

    <div class="action-buttons">
      <button (click)="onSubmit()" color="primary"
              mat-button mat-raised-button
              [disabled]="!contactForm.valid">
        Submit
      </button>
    </div>
  </div>
</form>

