@use '@angular/material' as material;
@use 'sass:map';
//@use './typography.scss' ;
//@use 'node_modules/@wdk/acl/sass/wdk-brand/wdk-theme/wdk-light-theme.scss' as theme ;
//@use 'node_modules/@angular/material/core/theming/_palette.scss' as palette ;
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


wdk-menu {
  display: none;
}

.main__header {
  padding: 0!important;
  background-color: transparent!important;
}

body {
  background-color: #201614!important;
  //background-color: #5c4740;

  .mat-app-background {
    background-color: transparent!important;
  }
}

:root {
  --base-font-size: 16px;
}


mat-tab-group {
  background-color: #eaeaea!important;
}

.mdc-tab-indicator__content--underline {
  opacity: 0!important;
}

.mat-mdc-tab {
  padding: 4px 10px !important;
  min-width: unset!important;
  height: 100%!important;
}


.mdc-tab__content {
  //align-items: baseline!important;
}

.mat-mdc-tab-labels {
  height: 70px!important;
}


.header-menu {
  .header__nav-list__menu__name {
    padding: 9px 30px;
    font-size: 16px;
    color: grey;
  }

  .mat-mdc-menu-item {
    a {
      color: #272727;
    }
  }
}


.page-container {
  display: flex;
  height: 100%;

  .main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    .main-content {
      flex: 1;
      main {
        //background: white;
        height: 100%;

        .content-wrapper {
          height: 100%;
        }
      }
    }

  }
}

//.main__header {
//  display: none!important;
//}

.mat-mdc-form-field {
  //font-size: 22px!important;
}

.mat-mdc-form-field .mat-mdc-input-element {
  font-size: 18px!important; /* Adjust this value as needed */
}

/* Increase the font size of the label */
.mdc-floating-label {
  font-size: 18px!important;/* Adjust this value as needed */
}


.mat-primary.mat-mdc-raised-button {
  background-color: #fa990b!important;
  border-bottom-color: transparent!important;

  &:focus {
    background-color: #fa990b!important;
  }

  &:hover {
    background-color: #fa990b!important;
    border-bottom-color: #fa990b!important;
  }

  &:active {
    background-color: #fa990b!important;
    border-bottom-color: transparent;
    box-shadow: none;
  }

}

footer {
  display: none;
}
