<div class="menu-list">
  <div class="menu-list__actions">
    <button mat-button mat-raised-button
            color="primary" (click)="openCreateCategoryDialog()">
      Create Category
    </button>
    <mat-slide-toggle [(ngModel)]="isDraggable">Rearrange</mat-slide-toggle>
  </div>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    @for (menuCategoryData of menuCategoriesData; track menuCategoryData) {
    <div class="example-box" [ngClass]="{'no-move-cursor': !isDraggable}"
         cdkDrag [cdkDragDisabled]="!isDraggable">

      <div class="example-list__contents">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div>{{menuCategoryData.order}}</div>
        <p>{{menuCategoryData.category}}</p>
        <p *ngIf="menuCategoryData.caption">{{menuCategoryData.caption}}</p>
      </div>
      <div class="example-list__buttons">
        <button mat-button mat-stroked-button color="primary"
                [disabled]="isDraggable"
                [routerLink]="['/menu-manager', menuCategoryData.cid]">
          View
        </button>
        <button mat-button mat-stroked-button
                [disabled]="isDraggable"
                (click)="openEditCategoryDialog(menuCategoryData)">
          Edit
        </button>
      </div>

    </div>
    }
  </div>

  <div *ngIf="wasRearranged">
    <button (click)="saveRearrangedCategories()">Save</button>
  </div>

</div>
