<div style="background-color: white; padding: 20px;">
<div>
    <button (click)="openCreateCategoryDialog()">Create Category</button>
</div>

<mat-slide-toggle [(ngModel)]="isDraggable">Rearrange</mat-slide-toggle>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    @for (menuCategoryData of menuCategoriesData; track menuCategoryData) {
      <div class="example-box" [ngClass]="{'no-move-cursor': !isDraggable}" cdkDrag [cdkDragDisabled]="!isDraggable">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div>{{menuCategoryData.order}}</div>
        <p>{{menuCategoryData.category}}</p>
        <p *ngIf="menuCategoryData.caption">{{menuCategoryData.caption}}</p>
        <button [disabled]="isDraggable" style="cursor: pointer;" [routerLink]="['/menu-manager', menuCategoryData.cid]">View</button>
        <button [disabled]="isDraggable" style="cursor: pointer;" (click)="openEditCategoryDialog(menuCategoryData)">Edit</button>
      </div>
    }
  </div>

  <div *ngIf="wasRearranged">
    <button (click)="saveRearrangedCategories()">Save</button>
  </div>

</div>