<div *ngIf="showSpinner">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!showSpinner">
    <!-- title -->
    <h2 mat-dialog-title>Edit Menu Category</h2>
    <!-- content -->
    <mat-dialog-content>
        <!-- form -->
        <form [formGroup]="menuCategoryEditForm">

            <!-- File Input -->
            <div *ngIf="!isImageSelected && menuDetail" style="width: 100px;">
                <img style="width: 100%;" [src]="menuDetail.categoryImage">
            </div>
            <app-image-cropper (imageData)="croppedImage($event)"></app-image-cropper>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Category Title</mat-label>
                    <input matInput placeholder="Category Title" formControlName="category" type="text" id="category"
                        name="category" />
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>Category Type</mat-label>
                    <input matInput placeholder="Caption" formControlName="type" type="text" id="type" name="type" />
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                    <mat-label>Caption</mat-label>
                    <textarea matInput placeholder="Category Title" formControlName="caption" type="text" id="caption"
                        name="caption"></textarea>
                </mat-form-field>

                <mat-checkbox formControlName="special" type="special" id="special" name="special">Special</mat-checkbox>

            </div>
        </form>
        <!-- /form -->

    </mat-dialog-content>
    <!-- /content -->
    <!-- mat-dialog-actions -->
    <div mat-dialog-actions>
        <div>
            <button mat-flat-button color="primary" [disabled]="!menuCategoryEditForm.valid" type="submit"
                (click)="onEditCategory();">
                <mat-icon>add_circle</mat-icon>Save
            </button>
            <button mat-stroked-button color="primary" type="button" (click)="onCancel()">
                <mat-icon>close</mat-icon>Cancel
            </button>
            <button mat-stroked-button color="warning" type="button" (click)="onRemoveCategory()">
                <mat-icon>trash</mat-icon>Remove
            </button>
        </div>
    </div>
    <!-- /mat-dialog-actions -->

</div>